<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - la_mia_pizzeria_static - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>