<header class="bg-dark">
    <div class="d-flex flex-wrap justify-content-between py-1 px-3 mb-4 border-bottom align-items-center container-fluid">
        <div class="logo-container">
            <a class="navbar-brand" href="@Url.Action("AdminIndex","Home")">
                <img class="h-100 align-middle" src="~/img/logoSeaShark.png" alt="seashark logo" />
                <span class="display-5 fw-semibold align-middle">SeaShark</span>
            </a>
        </div>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">HOME</a></li>
            <li class="nav-item"><a href="#" class="nav-link">MENU</a></li>
            <li class="nav-item"><a href="#" class="nav-link">BLOG</a></li>
            <li class="nav-item"><a href="#" class="nav-link">RESERVATION</a></li>
            <li class="nav-item"><a href="#" class="nav-link">PAGES</a></li>
        </ul>
    </div>
</header>
