<header class="border-bottom bg-light">
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-3 py-1 container-fluid">
        <div class="logo-container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img class="h-100 align-middle" src="~/img/logoSeaShark.png" alt="seashark logo" />
                <span class="display-5 fw-semibold align-middle">SeaShark</span>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
            </ul>
        </div>
    </nav>
</header>