@{
    Layout = null;
}

<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizzeria SeaShark</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="~/css/home_userindex.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="d-flex flex-wrap justify-content-between py-1 px-3 mb-4 border-bottom align-items-center container-fluid">
            <div class="logo-container">
                <a class="navbar-brand" href="/Home/Index">
                    <img class="h-100 align-middle" src="~/img/logoSeaShark.png" alt="seashark logo" />
                    <span class="display-4 fw-semibold align-middle">SeaShark</span>
                </a>
            </div>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">HOME</a></li>
                <li class="nav-item"><a href="#" class="nav-link">MENU</a></li>
                <li class="nav-item"><a href="#" class="nav-link">BLOG</a></li>
                <li class="nav-item"><a href="#" class="nav-link">RESERVATION</a></li>
                <li class="nav-item"><a href="#" class="nav-link">PAGES</a></li>
            </ul>
        </div>
    </header>

    <main>

    </main>

    

</body>
</html>